@media (max-width: 840px) {
  section {
    article {
      max-width: 560px;
    }
  }
  #example-slider {
    width: 400px;
    z-index: 1;
  }
}

@media (max-width: 780px) {
  #example-slider {
    width: 400px;
    z-index: 1;
  }
  .example {
    height: 340px;
    .game {
      float: right;
    }
  }
  .example .game .blockrain-start-btn, 
  .example .game .blockrain-game-over-btn {
    left: 50%;
    bottom: auto;
    top: 50%;
    margin-left: -60px;
    margin-top: -20px;
  }
  .example .game .blockrain-start-msg,
  .example .game .blockrain-game-over-msg {
    top: 50%;
    margin-top: -75px;
  }
}

@media (max-width: 640px) {
  section header h1 {
    &:before, &:after { display: none; }
  }
  #example-slider {
    width: 240px;
    height: 460px;
    z-index: 1;
  }
  .example {
    padding-top: 100px;
  }
  .example .game { float: none; }
  .example .instructions {
    display: none;
  }
  .example .game .blockrain-score-holder {
    left: auto;
    right: 0;
    margin-left: 0;
    width: 100%;
    top: -60px;
    z-index: 1;
    text-align: right;
  }
}

@media (max-width: 560px) {
  section {
    article {
      max-width: 280px;
    }
  }
  #example-slider {
    z-index: 1  ;
    .buttons {
      position: relative;
      width: 60%;
      margin: 0 auto
    }
  }

}